@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Tangerine&display=swap');


body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-color: black;
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    box-sizing: border-box;
    height: 56px;
    align-items: center;
    font-size: 20px;
}
nav a{
    margin-left: 2%;
    color: white;
}
nav ul{
    display: flex;
    flex-direction: row;
    height: 56px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 10%;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}
nav img{
    height: 50px;
    width: 50px;
    margin-top: 20%;
}
.About {
    margin-top: 50px;
    align-self: center;
    align-items: center;
    width: 1500px;
    height: 552px;
    border: none;
    background-image: url(LogoPics&Stuffs/precious-gold-rings.jpg);
    
}
.texttop {
    font-family: 'Dancing Script', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    align-self: center;
    color: white;
    padding: 2%;
}
.text {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center;
    align-self: center;
    color: white;
    padding: 2%;
}
.OurStory {
    align-self: center;
    align-items: center;
    width: 1500px;
    border: none;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    
}
.texttop {
    font-family: 'Dancing Script', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    align-self: center;
    color: white;
    padding: 2%;
}
.text {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: center;
    align-self: center;
    color: white;
    padding: 2%;
}
.Kineme {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
.box-container3 {
    align-self: center;
    align-items: center;
    width: 1500px;
    border: none;
    
}
.texttop {
    font-family: 'Dancing Script', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    align-self: center;
    color: white;
    padding: 2%;
}
.text {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: center;
    align-self: center;
    color: white;
    padding: 2%;
}
.box-container4 {
    align-self: center;
    align-items: center;
    width: 1500px;
    border: none;
    
}
.texttop {
    font-family: 'Dancing Script', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    align-self: center;
    color: white;
    padding: 2%;
}
.text {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: center;
    align-self: center;
    color: white;
    padding: 2%;
}
.box-container5 {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    align-self: center;
    align-items: center;
    width: 1500px;
    padding-top: 50px;
    border: none;
    
}
.texttop {
    font-family: 'Dancing Script', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    align-self: center;
    color: white;
    padding: 2%;
}
.text {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: center;
    align-self: center;
    color: white;
    padding: 2%;
}
.Contacts{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}
.box-container6 {
    align-self:auto;
    align-items: center;
    width: 1500px;
    border: none;
    
}
.texttop {
    font-family: 'Dancing Script', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    align-self: center;
    color: white;
}
.text {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: center;
    align-self: center;
    color: white;
}
.box-container7 {
    align-self:auto;
    align-items: center;
    width: 1500px;
    border: none;
    
}
.texttop {
    font-family: 'Dancing Script', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    align-self: center;
    color: white;
}
.text {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: center;
    align-self: center;
    color: white;
}
